body{
  background: linear-gradient(to bottom, #6896ab, #8b3c97);
}


.task-form{
  text-align: center;
  margin: auto;
  width: 50%;
  border-radius: 75%;
  padding: 10px;
  align-items: center;
  text-indent: 5%;
  margin-top: 5%;
 
}

.task-form input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  border-radius: 10%;
 
}

.task-form button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 10%;
}

h1{
  margin-top: 10%;
  text-align:center
}
.dropdown-container {
  text-align: right;
}


.card{
  background-color: rgb(71, 156, 49);
  position: relative;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

